# Игнорировать папку .idea (настройки PyCharm)
.idea/

# Игнорировать файлы модулей PyCharm
*.iml

# Игнорировать папку __pycache__ (скомпилированные файлы Python)
__pycache__/

# Игнорировать виртуальное окружение
venv/
.venv/

# Игнорировать файлы окружения
.env
.env.local

# Игнорировать логи
*.log

# Игнорировать локальные базы данных
*.sqlite3
